Repository focus-shift/jollyday, pull requests merged in 2023-09, with the labels that each got.

#272 Add Virgin Islands (British) public holidays
  jollyday-core/src/main/java/de/focus_shift/HolidayCalendar.java
  jollyday-core/src/main/resources/descriptions/holiday_descriptions.properties
  jollyday-core/src/main/resources/holidays/Holidays_vg.xml
  jollyday-tests/src/test/java/de/focus_shift/tests/HolidayVGTest.java
  jollyday-tests/src/test/resources/holidays/Holidays_test_vg_2015.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_vg_2016.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_vg_2017.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_vg_2018.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_vg_2019.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_vg_2020.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_vg_2021.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_vg_2022.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_vg_2023.xml
Labels: type: enhancement, topic: public holiday, country: virgin islands (british)

#274 Add Cayman Islands public holidays
  jollyday-core/src/main/java/de/focus_shift/HolidayCalendar.java
  jollyday-core/src/main/resources/descriptions/holiday_descriptions.properties
  jollyday-core/src/main/resources/holidays/Holidays_ky.xml
  jollyday-tests/src/test/java/de/focus_shift/tests/HolidayKYTest.java
  jollyday-tests/src/test/resources/holidays/Holidays_test_ky_2008.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_ky_2009.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_ky_2010.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_ky_2011.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_ky_2012.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_ky_2013.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_ky_2014.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_ky_2015.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_ky_2016.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_ky_2017.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_ky_2018.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_ky_2019.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_ky_2020.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_ky_2021.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_ky_2022.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_ky_2023.xml
Labels: type: enhancement, topic: public holiday, country: cayman islands

#276 Add Bermuda public holidays
  jollyday-core/src/main/java/de/focus_shift/HolidayCalendar.java
  jollyday-core/src/main/resources/descriptions/holiday_descriptions.properties
  jollyday-core/src/main/resources/holidays/Holidays_bm.xml
  jollyday-tests/src/test/java/de/focus_shift/tests/HolidayBMTest.java
  jollyday-tests/src/test/resources/holidays/Holidays_test_bm_2017.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_bm_2018.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_bm_2020.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_bm_2021.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_bm_2022.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_bm_2023.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_bm_2024.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_bm_2025.xml
Labels: type: enhancement, topic: public holiday, country: bermuda

#277 Add Bahamas public holidays
  jollyday-core/src/main/java/de/focus_shift/HolidayCalendar.java
  jollyday-core/src/main/resources/descriptions/country_descriptions.properties
  jollyday-core/src/main/resources/descriptions/holiday_descriptions.properties
  jollyday-core/src/main/resources/holidays/Holidays_bs.xml
Labels: type: enhancement, topic: public holiday, country: bahamas

#273 Fixed missing description property for France, Whit Monday
  jollyday-core/src/main/resources/holidays/Holidays_fr.xml
Labels: type: bug, topic: public holiday, country: france

#294 Improve luxembourg holidays
  jollyday-core/src/main/resources/holidays/Holidays_lu.xml
  jollyday-tests/src/test/java/de/focus_shift/tests/HolidayLUTest.java
  jollyday-tests/src/test/resources/holidays/Holidays_test_lu_2023.xml
Labels: country: luxembourg

#279 Add Mauritius public holidays
  .gitignore
  jollyday-core/pom.xml
  jollyday-core/src/main/java/de/focus_shift/jollyday/core/HolidayCalendar.java
  jollyday-core/src/main/java/de/focus_shift/jollyday/core/parser/predicates/ValidCycle.java
  jollyday-core/src/main/resources/descriptions/country_descriptions_nl.properties
  jollyday-core/src/main/resources/descriptions/holiday_descriptions.properties
  jollyday-core/src/main/resources/descriptions/holiday_descriptions_de.properties
  jollyday-core/src/main/resources/descriptions/holiday_descriptions_el.properties
  jollyday-core/src/main/resources/holidays/Holidays_mu.xml
  jollyday-core/src/test/java/de/focus_shift/jollyday/core/parser/predicates/ValidCycleTest.java
  jollyday-core/src/test/resources/junit-platform.properties
  jollyday-tests/pom.xml
  jollyday-tests/src/test/java/de/focus_shift/jollyday/tests/country/HolidayMUTest.java
  jollyday-tests/src/test/java/de/focus_shift/jollyday/tests/country/UtilTest.java
  jollyday-tests/src/test/java/de/focus_shift/jollyday/tests/impl/FixedParserTest.java
  jollyday-tests/src/test/resources/holidays/Holidays_test_mu_2013.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_mu_2014.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_mu_2015.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_mu_2016.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_mu_2017.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_mu_2018.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_mu_2019.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_mu_2020.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_mu_2021.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_mu_2022.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_mu_2023.xml
  jollyday-tests/src/test/resources/holidays/Holidays_test_mu_2024.xml
  pom.xml
Labels: type: enhancement, topic: public holiday, country: mauritius
