Repository focus-shift/jollyday, pull requests merged in 2024-02, with the labels that each got.

#397 Fix India
  jollyday-core/src/main/java/de/focus_shift/jollyday/core/HolidayCalendar.java
  jollyday-core/src/main/resources/descriptions/country_descriptions.properties
  jollyday-core/src/main/resources/descriptions/country_descriptions_de.properties
  jollyday-core/src/main/resources/descriptions/country_descriptions_el.properties
  jollyday-core/src/main/resources/descriptions/country_descriptions_fr.properties
  jollyday-core/src/main/resources/descriptions/country_descriptions_nl.properties
  jollyday-core/src/main/resources/descriptions/country_descriptions_pt.properties
  jollyday-core/src/main/resources/descriptions/country_descriptions_sv.properties
  jollyday-core/src/main/resources/descriptions/holiday_descriptions.properties
  jollyday-core/src/main/resources/holidays/Holidays_in.xml
  jollyday-tests/src/test/java/de/focus_shift/jollyday/tests/CalendarHierarchyTest.java
Labels: type: bug, topic: public holiday, country: india

#447 Added sources in Ireland
  jollyday-core/src/main/resources/holidays/Holidays_ie.xml
Labels: topic: documentation, type: enhancement, country: ireland

#444 Added New Bank Holiday in February in Ireland
  jollyday-core/src/main/resources/descriptions/holiday_descriptions.properties
  jollyday-core/src/main/resources/descriptions/holiday_descriptions_de.properties
  jollyday-core/src/main/resources/descriptions/holiday_descriptions_el.properties
  jollyday-core/src/main/resources/descriptions/holiday_descriptions_fr.properties
  jollyday-core/src/main/resources/descriptions/holiday_descriptions_nl.properties
  jollyday-core/src/main/resources/descriptions/holiday_descriptions_pt.properties
  jollyday-core/src/main/resources/descriptions/holiday_descriptions_sv.properties
  jollyday-core/src/main/resources/holidays/Holidays_ie.xml
Labels: type: enhancement, topic: public holiday, country: ireland

#453 Typo in NYSE-EURONEXT and missing in HolidayCalendar enum
  jollyday-core/src/main/java/de/focus_shift/jollyday/core/HolidayCalendar.java
  jollyday-core/src/main/resources/holidays/Holidays_nyse_euronext.xml
  jollyday-core/src/test/java/de/focus_shift/jollyday/core/HolidayCalendarTest.java
  jollyday-tests/src/test/java/de/focus_shift/jollyday/tests/CalendarHierarchyTest.java
Labels: type: bug, country: nyse-euronext

#466 Add methods to directly filter "getHolidays" by HolidayType
  jollyday-core/src/main/java/de/focus_shift/jollyday/core/HolidayManager.java
  jollyday-core/src/main/java/de/focus_shift/jollyday/core/impl/DefaultHolidayManager.java
  jollyday-tests/src/test/java/de/focus_shift/jollyday/tests/HolidayManagerTest.java
Labels: type: enhancement, topic: public holiday

#465 Add adr template and for adr for empty subdivisions
  .adr/001-document-every-subdivision.md
  .adr/999-adr-template.md
  .adr/README.md
  README.md
Labels: topic: documentation, type: enhancement
